{% extends 'making.html' %}

{% load static %}


{% block body %}
<div class="flex-box">
    <div class="tm-gallery card">
        <a href="{% static 'website/img/making/fwdworkingpicture/20140307_123903.jpg' %}">
          <figure class="bg_color card-img-top">
            <img src="{% static 'website/img/making/fwdworkingpicture/20140307_123903.jpg' %}"alt="Image 1" class="img-fluid" style="width:400px;height:500px">
          </figure>
        </a>
        </div>
        <div class="tm-gallery card">
          <a href="{% static 'website/img/making/fwdworkingpicture/20140307_123923.jpg' %}">
            <figure class="bg_color card-img-top">
              <img src="{% static 'website/img/making/fwdworkingpicture/20140307_123923.jpg' %}"alt="Image 1" class="img-fluid" style="width:400px;height:500px">
            </figure>
          </a>
          </div>
          <div class="tm-gallery card">
            <a href="{% static 'website/img/making/fwdworkingpicture/IMG_0726.jpg' %}">
              <figure class="bg_color card-img-top">
                <img src="{% static 'website/img/making/fwdworkingpicture/IMG_0726.jpg' %}"alt="Image 1" class="img-fluid" style="width:400px;height:500px">
              </figure>
            </a>
            </div>  
    <!-- <div><img src="{% static 'website/img/making/fwdworkingpicture/20140307_123903.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture/20140307_123923.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture/IMG_0726.jpg' %}" alt="" class="flex-img"></div> -->
</div>
<div class="flex-box">
    <div><img src="{% static 'website/img/making/fwdworkingpicture/IMG_0727.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture/IMG_0743.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture/IMG_0906.jpg' %}" alt="" class="flex-img"></div>
</div>
<div class="flex-box">
    <div><img src="{% static 'website/img/making/fwdworkingpicture2/20150211_112325.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture2/20150211_112339.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture2/20150218_151025.jpg' %}" alt="" class="flex-img"></div>
</div>
<div class="flex-box">
    <div><img src="{% static 'website/img/making/fwdworkingpicture2/20150303_163427.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture2/20150417_122033.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture2/20150720_143132.jpg' %}" alt="" class="flex-img"></div>
</div>

{% endblock %}
