{% extends 'making.html' %}

{% load static %}


{% block body %}
<div class="flex-box">
    <div><img src="{% static 'website/img/making/fwdworkingpicture4/IMG_4161.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture4/IMG_4164.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture4/IMG_4279.jpg' %}" alt="" class="flex-img"></div>
</div>
<div class="flex-box">
    <div><img src="{% static 'website/img/making/fwdworkingpicture4/IMG_4284.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture4/IMG_4302.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture4/IMG_20200816_164309.jpg' %}" alt="" class="flex-img"></div>
</div>
<div class="flex-box">
    <div><img src="{% static 'website/img/making/fwdworkingpicture5/2014-10-10 18.29.42.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture5/20141009_144029.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture5/20150126_141020.jpg' %}" alt="" class="flex-img"></div>
</div>
<div class="flex-box">
    <div><img src="{% static 'website/img/making/fwdworkingpicture5/20150126_150459.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture5/20150202_093305.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture5/20150206_151350.jpg' %}" alt="" class="flex-img"></div>
</div>
<div class="flex-box">
    <div><img src="{% static 'website/img/making/fwdworkingpicture5/20150208_122613.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture5/20150212_114912.jpg' %}" alt="" class="flex-img"></div>
    <div><img src="{% static 'website/img/making/fwdworkingpicture5/IMG_20150203_221353.jpg' %}" alt="" class="flex-img"></div>
</div>

{% endblock %}
